* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

/* hero home */
.hero-home {
  overflow: hidden;
  position: relative;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-home::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.hero-home-text {
  position: absolute;
  color: white;
  z-index: 2;
  padding: 2rem;
  max-width: 75%;
}

.hero-home-title {
  font-size: 4.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.hero-home-body {
  font-size: 1.35rem;
  font-weight: 300;
}

.home-video {
  position: relative;
}

.hero-video::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background: white;
}

.nav-btn {
  padding: 0.75rem 1.5rem;
  display: block;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.135rem;
  font-weight: 500;
}

.nav-btn:hover {
  opacity: 0.85;
}

.nav-logo {
  font-size: 2rem;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  font-size: 1.125rem;
  color: black;
  display: block;
  border-radius: 999px;
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.75rem 1.75rem;
}

.nav-link:hover,
.active {
  color: white;
  background: black;
}

.hero {
  height: 95vh;
  overflow: hidden;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-wrapper picture {
  overflow: hidden;
  width: auto;
}

.hero-wrapper picture img {
  min-width: 70rem;
}

.hero-text {
  padding: 25% 5rem;
  background: rgb(0, 0, 25);
  color: white;
}

.hero-title {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.grd-1 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, cyan, greenyellow 75%);
}

.sect {
  padding: 5rem 7.5rem;
}

.sect-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 300;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  font-weight: 400;
  align-items: center;
  padding: 1.5rem 0;
}

.btn {
  padding: 0.75rem 1.75rem;
  background: darkcyan;
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
  display: block;
  border-radius: 5rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
  scale: 1.025;
}

.img-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 2rem 0;
  gap: 0;
}

.img-flex picture {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 275px;
}

.img-flex picture img {
  max-width: 30rem;
  transition: 200ms ease;
}

.img-flex picture img:hover {
  scale: 1.125;
}

.sect-body {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.sect-dark {
  background: rgb(0, 0, 25);
  color: white;
}

.sect-wrapper {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.sect-wrapper article * {
  text-align: left;
}

.sect-wrapper picture {
  overflow: hidden;
  border-radius: 0.5rem;
}

.footer {
  background: #101010;
  padding: 3rem;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.footer-nav article {
  color: white;
}

.footer-nav article h2 {
  margin-bottom: 1rem;
}

.footer-nav ul li {
  list-style: none;
}

.foot-link {
  text-decoration: none;
  cursor: pointer;
  color: #ddd;
  display: inline-block;
  margin: 0.5rem 0;
}

.foot-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-flex article {
  background: rgb(0, 0, 25);
  color: white;
  padding: 2rem;
  max-width: 375px;
  border-radius: 0.5rem;
}

.about-flex article h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.about-flex article p {
  font-size: 1.125rem;
}

details {
  padding: 1rem;
  background: #ddd;
  color: black;
  border-radius: 0.5rem;
  margin: 1rem;
}

summary {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  margin: 0.25rem 0;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2.5rem;
}

.flex-wrapper article {
  padding: 1.5rem;
  background: rgb(0, 0, 25);
  color: white;
  width: 350px;
  transition: 500ms;
}

.flex-wrapper article:hover {
  background: rgb(0, 0, 45);
  width: 375px;
}

.flex-wrapper article h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.flex-wrapper article p {
  font-size: 1.125rem;
}

.awards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

.awards article {
  border: 2px solid grey;
  color: rgb(25, 25, 25);
  text-align: center;
  padding: 1rem;
}

.awards article p {
  font-size: 1.125rem;
}

hr {
  margin: 0.5rem 0;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}

.contact article * {
  margin: 1rem;
}

.contact article h1 {
  font-size: 2rem;
}

.contact article p {
  font-size: 1.5rem;
}

input,
textarea {
  width: 30rem;
  padding: 1rem;
  display: block;
  font-size: 1.125rem;
  margin: 1rem 0;
}

textarea {
  height: 15rem;
}

.gallery {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-template-rows: 300px 350px 300px;
  gap: 1rem;
  grid-template-areas:
    "a a d"
    "b c d"
    "b f f";
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.f {
  grid-area: f;
}

.gallery picture {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-text p {
  font-size: 1.125rem;
  line-height: 1.5;
}
